@media (max-width: 400px) {

  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .desktop-image {
    display: none;
  }

  .right-side img{
    width: 100vw;
  }

  ul {
    margin-top: 24px;
  }

  ul li {
    margin-top: 12px;
  }

  ul img {
    margin-bottom: 24px;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 20px 40px 20px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .features {
    line-height: 24px;
  }

  .text {
    padding-right: 32px;
    margin-bottom: 24px;
  }


  input {
    width: 100%;
    padding: 18px 24px;
    font-size: 16px;
    border: 1px solid var(--grey);
    border-radius: 8px;
  }

  input::placeholder {
    color: var(--grey);
  }

  button {
    background-color: var(--darkSlateGrey);
    color: white;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px 0;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background: linear-gradient(90deg, rgba(255,88,106,1) 41%, rgba(255,91,0,1) 100%);
  }

  .success-icon {
    width: 64px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .dismiss {
    margin-top: 150px;
  }
}
